@creatures.each do |monster|
monster.name
monster.description
end

<% @creatures.each do |creature.name| %>
  <p><strong>Name: <strong> <% creature.name %><br>
    <strong>Description: <strong> <% creature.description %>
  </p>
<% end %>
